@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(5 8 22 / var(--tw-bg-opacity)) /* #050816 */;
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(170 166 195 / var(--tw-bg-opacity)) /* #aaa6c3 */;
}

.bg-tertiary {
  --tw-bg-opacity: 1;
  background-color: rgb(21 16 48 / var(--tw-bg-opacity)) /* #151030 */;
}

.bg-black-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(16 13 37 / var(--tw-bg-opacity)) /* #100d25 */;
}

.bg-black-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(9 3 37 / var(--tw-bg-opacity)) /* #090325 */;
}

.bg-hero-pattern {
  background-image: url("/src/assets/herobg.png");
}
